<section class="contact">
	<h1>Contact</h1>

	<form method="post" action="#">
		<div>
			<label for="lastName">Nom :</label>
			<input type="text" name="lastname" id="lastname">
		</div>

		<div>
			<label for="firstName">Prénom :</label>
			<input type="text" name="firstName" id="firstName">
		</div>

		<div>
			<label for="birthDate">Date de naissance : </label>
			<input type="date" name="birthDate" id="birthDate">
		</div>

		<div>
			<label for="amount">Montant : </label>
			<input type="number" name="amount" id="amount">
		</div>

		<div>
			<label for="address">Adresse : </label>
			<input type="text" name="address" id="address">
		</div>

		<div>
			<label for="postCode">Code postal : </label>
			<input type="number" name="postCode" id="postCode">
		</div>

		<div>
			<label for="city">Ville : </label>
			<input type="text" name="city" id="city">
		</div>
	</form>
</section>
