<section class="contact">
	<h1>Contact</h1>

	<form (ngSubmit)="processForm()">
		<div>
			<label for="lastName">Nom :</label>
			<input type="text" id="lastname" required maxlength="40" [(ngModel)]="lastname">
		</div>

		<div>
			<label for="firstName">Prénom :</label>
			<input type="text" id="firstName" required maxlength="40" [(ngModel)]="firstName">
		</div>

		<div>
			<label for="birthDate">Date de naissance : </label>
			<input type="date" id="birthDate" required [(ngModel)]="birthDate">
		</div>

		<div>
			<label for="amount">Montant : </label>
			<input type="number" id="amount" required  [(ngModel)]="amount">
		</div>

		<div>
			<label for="address">Adresse : </label>
			<input type="text" id="address" required maxlength="150" [(ngModel)]="address">
		</div>

		<div>
			<label for="postCode">Code postal : </label>
			<input type="number" id="postCode" required maxlength="5" [(ngModel)]="postCode">
		</div>

		<div>
			<label for="city">Ville : </label>
			<input type="text" id="city" required  maxlength="75" [(ngModel)]="city">
		</div>

		<div>
			<button type="submit">Valider</button>
		</div>
	</form>
</section>
